#
# Copyright (C) 2018 to the original authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#         https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

orbs:
  kube-orb: circleci/kubernetes@0.11.0
version: 2.1
workflows:
  version: 2
  build-then-test:
    jobs:
      - build
      - test:
          requires:
            - build
jobs:
  test:
    parallelism: 5 # parallel containers to split the tests among
    machine: true
    environment:
      _JAVA_OPTIONS: "-Xms1024m -Xmx2048m"
      _SERVICE_OCCURENCE: 5
    steps:
      - checkout
      - run:
          name: Run regular tests
          command: |
            # find class names that do not have @Nested inside them
            circleci tests glob "**/src/test/**/**.java" \
                               | grep -v 'spring-cloud-kubernetes-integration-tests' \
                               | grep -v '@Nested' \
                               | xargs grep -l '@Test' \
                               | sed 's/.*src.test.java.//g' | sed 's@/@.@g' \
                               | sed 's/.\{5\}$//' \
                               > all_tests.txt

            # find classnames that have @Nested inside them
            ROOT_NESTED_CLASSNAMES=$(circleci tests glob "**/src/test/**/**.java" \
                               | grep -v 'spring-cloud-kubernetes-integration-tests' \
                               | xargs grep -l '@Nested' \
                               | xargs grep -l '@Test')

            declare -a 'ARRAY_ROOT_NESTED_CLASSNAMES=($ROOT_NESTED_CLASSNAMES)'

            for p in "${ARRAY_ROOT_NESTED_CLASSNAMES[@]}"; do
            	# find inner @Nested class names
                flattened=$(cat $p | awk '/@Nested/, /@Test/' | tr '\n' ' ' | awk '{ for (i = 1; i <= NF; ++i) { if( $i == "class") { print $(i+1) } } }')
                declare -a 'flat_array=($flattened)'
            	for flat in "${flat_array[@]}"; do
            		x=$(echo $p | sed 's/.*src.test.java.//g' | sed 's@/@.@g' | sed 's/.\{5\}$//')
            		y="$x\\$"$flat""
            		echo -e $y >> all_tests.txt
            	done
            done

            echo '-----'
            cat all_tests.txt
            echo '-----'


            cat all_tests.txt | circleci tests split --split-by=timings > /tmp/this_node_tests.txt
            tr ' ' ',' < /tmp/this_node_tests.txt > /tmp/this_node_tests_comma_separated.txt

            echo '1111111'
            cat /tmp/this_node_tests_comma_separated.txt
            echo '1111111'
            ./mvnw -s .settings.xml  -DfailIfNoTests=false -DtestsToRun=$(/tmp/this_node_tests_comma_separated.txt) -e clean org.jacoco:jacoco-maven-plugin:prepare-agent test -U -P sonar -nsu --batch-mode -Dmaven.test.redirectTestOutputToFile=true -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
            mkdir -p $HOME/artifacts/junit/
            find . -type f -regex ".*/spring-cloud-*.*/target/*.*" -exec cp {} $HOME/artifacts/ \;
            find . -type f -regex ".*/target/.*-reports/.*" -exec cp {} $HOME/artifacts/junit/ \;
            bash <(curl -s https://codecov.io/bash)
      - run:
          name: Install Snap
          command: |
            sudo apt update
            sudo apt install snapd
      - kube-orb/install-kubectl
      - attach_workspace:
          at: ./
      - run:
          name: Load Controller Images From Workspace
          command: |
            docker load -i ./docker-images/spring-cloud-kubernetes-configuration-watcher.tar
      - run:
          name: Run Kind Integration Tests
          command: |
            cd spring-cloud-kubernetes-integration-tests
            ./run.sh
      - run:
          name: Launch Kubernetes with microk8s
          command: |
            sudo snap install microk8s --classic --channel=1.11/stable

            # wait until a k8s node is ready
            sleep 10
            n=0
            until [ $n -ge 10 ]
            do
              (/snap/bin/microk8s.kubectl get no | grep -z "Ready") && break
              n=$[$n+1]
              sleep 20
            done

            echo "Kubernetes cluster launched"

            # Allow intra-pod communication
            sudo iptables -P FORWARD ACCEPT

            echo n |/snap/bin/microk8s.enable dns registry istio

            # wait until the registry is up and running
            sleep 10
            n=0
            until [ $n -ge 10 ]
            do
              (/snap/bin/microk8s.kubectl get pod --namespace=container-registry | grep -z "Running") && break
              n=$[$n+1]
              sleep 10
            done

            echo "Kubernetes Container Registry enabled"

            # wait until istio is up and running
            sleep 10
            n=0
            until [ $n -ge 10 ]
            do
              (/snap/bin/microk8s.kubectl get pod -l istio=sidecar-injector --namespace=istio-system | grep -z "Running") && break
              n=$[$n+1]
              sleep 10
            done

            echo "Istio enabled"

            # create the namespace where the istio integration test will run
            /snap/bin/microk8s.kubectl create -f .circleci/istio-test-namespace.yml
      - run:
          name: Run integration tests
          command: |
            /snap/bin/microk8s.kubectl config view --raw > /tmp/kubeconfig
            export KUBECONFIG=/tmp/kubeconfig
            cd spring-cloud-kubernetes-integration-tests
            ../mvnw -Ddocker.host='unix:///var/snap/microk8s/current/docker.sock' -Dimage.registry='localhost:32000' clean package fabric8:build verify -Pfmp,it,spring
      - run:
          name: "Aggregate test results"
          when: always
          command: |
            mkdir -p ~/junit/
            find . -type f -regex ".*/target/.*-reports/.*" -exec cp {} ~/junit/ \;
            bash <(curl -s https://codecov.io/bash)
      - store_artifacts:
          path: ~/junit/
          destination: artifacts
      - store_test_results:
          path: ~/junit/
          destination: testartifacts
  build:
    machine: true
    environment:
      _JAVA_OPTIONS: "-Xms2g -Xmx2g"
      _SERVICE_OCCURENCE: 5
    steps:
      - checkout
      - restore_cache:
          keys:
            - spring-cloud-kubernetes-{{ .Branch }}-{{ checksum "pom.xml" }}
            - spring-cloud-kubernetes-{{ .Branch }}
            - spring-cloud-kubernetes
      - run:
          name: dependencies
          command: |
            ./mvnw -s .settings.xml -U dependency:resolve-plugins dependency:go-offline -B -Dservice.occurence=${_SERVICE_OCCURENCE} || true
      - run:
          name: build
          command: |
            ./mvnw -s .settings.xml clean install -Dservice.occurence=${_SERVICE_OCCURENCE} -DskipTests
      - run:
          name: save docker images
          command: |
            TAG=$(./mvnw help:evaluate -Dexpression=project.version -q -DforceStdout)
            echo $TAG
            mkdir docker-images
            docker save -o docker-images/spring-cloud-kubernetes-configuration-watcher.tar docker.io/springcloud/spring-cloud-kubernetes-configuration-watcher:${TAG}
      - persist_to_workspace:
          root: ./
          paths: docker-images
      - save_cache:
          paths:
            - ~/.m2
          key: spring-cloud-kubernetes-{{ .Branch }}-{{ checksum "pom.xml" }}
notify:
  webhooks:
    - url: https://webhooks.gitter.im/e/22e6bb4eb945dd61ba54
