#
# Copyright (C) 2018 to the original authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#         https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

orbs:
  kube-orb: circleci/kubernetes@0.11.0
version: 2.1
workflows:
  version: 2
  build-then-test:
    jobs:
      - build
      #- fabric8_istio:
      #    requires:
      #      - build
      - test
          #requires:
          #  - fabric8_istio
jobs:
  test:
    parallelism: 5 # parallel containers to split the tests among
    machine:
      image: ubuntu-2204:2022.04.1
    environment:
      _JAVA_OPTIONS: "-Xms1024m -Xmx2048m"
      _SERVICE_OCCURENCE: 5
    steps:
      - run:
          name: testcontainers reuse support
          command: |
            # needed for .withReuse(true) to work
            echo "testcontainers.reuse.enable=true" > ~/.testcontainers.properties
      - checkout
#      - restore_cache:
#          keys:
#            - spring-cloud-kubernetes-{{ .Branch }}-{{ checksum "pom.xml" }}
#            - spring-cloud-kubernetes-{{ .Branch }}
#            - spring-cloud-kubernetes
      - attach_workspace:
          at: /tmp/docker
#      - run:
#          name: Load Controller Images From Workspace
#          command: |
#            VIEW=$(ls -l /tmp/docker/images)
#            echo "${VIEW}"
#            docker load -i /tmp/docker/images/spring-cloud-kubernetes-configuration-watcher.tar
#            docker load -i /tmp/docker/images/spring-cloud-kubernetes-discoveryserver.tar
#            docker load -i /tmp/docker/images/spring-cloud-kubernetes-configserver.tar
      - run:
          name: Run regular tests
          command: |

            ###########################################################################################################################
            ################################################# Build test support dependency ###########################################
            cd spring-cloud-kubernetes-test-support
            # .././mvnw clean install
            cd ..

            ###########################################################################################################################
            ##################################################### Split and run tests #################################################

            # - find all tests
            # - exclude Fabric8IstionIT
            # - only take classes that have @Test inside them
            # - ignore the ones that have 'abstract class'. we do this because otherwise we would pass
            #   to -DtestsToRun an abstract class, and it will not run anything.
            # - drop the "begining" xxx/src/test/java
            # - replace / with .
            # - drop last ".java"
            # - replace newline with space

            PLAIN_TEST_CLASSNAMES=($(find . -name '*.java' \
                    | grep 'src/test/java' \
                    | grep -v 'Fabric8IstioIT' \
                    | xargs grep -l '@Test' \
                    | xargs grep -L 'abstract class' \
                    | sed 's/.*src.test.java.//g' \
                    | sed 's@/@.@g' \
                    | sed 's/.\{5\}$//'))

            # classes that have @Test and are abstract, for example: "LabeledSecretWithPrefixTests"
            # - exclude Fabric8IstionIT
            # - only take classes that have @Test inside them
            # - only take classes that are abstract
            # - drop everything up until the last "/"
            # - drop ".java"

            ABSTRACT_TEST_CLASSNAMES_COMMAND="find . -name '*.java' \
                    | grep  'src/test/java' \
                    | grep -v 'Fabric8IstioIT' \
                    | xargs grep -l '@Test' \
                    | xargs grep -l 'abstract class' \
                    | sed 's/.*\///g' \
                    | sed 's/.java//g'"

            # find classes that extend abstract test classes
            DERIVED_FROM_ABSTRACT_CLASSES_COMMAND="find . -name '*.java' \
                    | grep  'src/test/java' \
                    | grep -v 'Fabric8IstioIT' \
                    | xargs grep -l 'extends replace_me ' \
                    | sed 's/.*src.test.java.//g' \
                    | sed 's@/@.@g' \
                    | sed 's/.\{5\}$//'"

            while read class_name; do
              replaced=$(echo ${DERIVED_FROM_ABSTRACT_CLASSES_COMMAND/replace_me/"$class_name"})
              result=($(eval $replaced))
              PLAIN_TEST_CLASSNAMES+=(${result[@]})
            done < <(eval $ABSTRACT_TEST_CLASSNAMES_COMMAND)

            IFS=$'\n'
            SORTED_TEST_CLASSNAMES=( $(sort \<<< "${PLAIN_TEST_CLASSNAMES[*]}" | uniq -u) )
            unset IFS

            # split in half, because of the issue below, and failure in the circleci with error:
            # "Error: failed to read input: bufio.Scanner: token too long"
            ########## https://github.com/CircleCI-Public/circleci-cli/pull/441
            size="${#SORTED_TEST_CLASSNAMES[@]}"
            let leftBound="$size/2"
            let rightBound="$size - $leftBound"

            left=( "${SORTED_TEST_CLASSNAMES[@]:0:$leftBound}" )
            right=( "${SORTED_TEST_CLASSNAMES[@]:$leftBound:$rightBound}" )

            # I have not found to make it work on circleci without writign to an actual file
            printf "%s\n" "${left[@]}" > left.txt
            printf "%s\n" "${right[@]}" > right.txt

            echo '------ left file -----'
            cat left.txt
            echo '------ done left file -----'

            echo '------ right file -----'
            cat right.txt
            echo '------ done right file -----'

            CLASSNAMES=()
            LEFT_CLASSNAMES=( $(cat left.txt | circleci tests split --split-by=timings) )
            RIGHT_CLASSNAMES=( $(cat right.txt | circleci tests split --split-by=timings) )

            CLASSNAMES+=(${LEFT_CLASSNAMES[@]})
            CLASSNAMES+=(${RIGHT_CLASSNAMES[@]})

            TEST_ARG=$(echo $CLASSNAMES | sed 's/ /,/g')
            echo '----------------------- tests ---------------------'
            echo ${TEST_ARG[@]}
            echo '---------------------------------------------------'

            ./mvnw -s .settings.xml  -DfailIfNoTests=false -DtestsToRun=$TEST_ARG -e clean org.jacoco:jacoco-maven-plugin:prepare-agent install \
                   -U -P sonar -nsu --batch-mode -Dmaven.test.redirectTestOutputToFile=true \
                   -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
            mkdir -p $HOME/artifacts/junit/
            find . -type f -regex ".*/spring-cloud-*.*/target/*.*" -exec cp {} $HOME/artifacts/ \;
            find . -type f -regex ".*/target/.*-reports/.*" -exec cp {} $HOME/artifacts/junit/ \;
            bash <(curl -s https://codecov.io/bash)
      - kube-orb/install-kubectl
      - run:
          name: "Aggregate test results"
          when: always
          command: |
            mkdir -p ~/junit/
            find . -type f -regex ".*/target/.*-reports/.*" -exec cp {} ~/junit/ \;
            bash <(curl -s https://codecov.io/bash)
      - store_artifacts:
          path: ~/junit/
          destination: artifacts
      - store_test_results:
          path: ~/junit/
          destination: testartifacts
  build:
    machine:
      image: ubuntu-2204:2022.04.1
    environment:
      _JAVA_OPTIONS: "-Xms2g -Xmx2g"
      _SERVICE_OCCURENCE: 5
    steps:
      - checkout
      - restore_cache:
          keys:
            - spring-cloud-kubernetes-{{ .Branch }}-{{ checksum "pom.xml" }}
            - spring-cloud-kubernetes-{{ .Branch }}
            - spring-cloud-kubernetes
      - run:
          name: dependencies
          command: |
            ./mvnw -s .settings.xml -U dependency:resolve-plugins dependency:go-offline -B || true
      - run:
          name: build
          command: |
            ./mvnw -s .settings.xml clean install -Dservice.occurence=${_SERVICE_OCCURENCE} -DskipTests
      - run:
          name: save docker images
          command: |
            TAG=$(./mvnw help:evaluate -Dexpression=project.version -q -DforceStdout)
            echo $TAG
            mkdir -p /tmp/docker/images/
            docker save -o /tmp/docker/images/spring-cloud-kubernetes-configuration-watcher.tar docker.io/springcloud/spring-cloud-kubernetes-configuration-watcher:${TAG}
            docker save -o /tmp/docker/images/spring-cloud-kubernetes-discoveryserver.tar docker.io/springcloud/spring-cloud-kubernetes-discoveryserver:${TAG}
            docker save -o /tmp/docker/images/spring-cloud-kubernetes-configserver.tar docker.io/springcloud/spring-cloud-kubernetes-configserver:${TAG}
            VIEW=$(ls -l /tmp/docker/images)
            echo "${VIEW}"
      - persist_to_workspace:
          root: /tmp/docker/
          paths:
            - images
      - save_cache:
          paths:
            - ~/.m2
          key: spring-cloud-kubernetes-{{ .Branch }}-{{ checksum "pom.xml" }}
  fabric8_istio:
    machine:
      image: ubuntu-2204:2022.04.1
    steps:
      - checkout
      - restore_cache:
          keys:
            - spring-cloud-kubernetes-{{ .Branch }}-{{ checksum "pom.xml" }}
            - spring-cloud-kubernetes-{{ .Branch }}
            - spring-cloud-kubernetes
      - run:
          name: Run fabric8 istio test
          command: |

            # we need to run some test, so that K3s container is started and then all other instances will re-use this one.
            # otherwise (since we use static ports) there might be two instances starting at the same time, and ports might conflict

            ###########################################################################################################################
            ######################################## Build test support dependency and Run test #######################################
            cd spring-cloud-kubernetes-test-support
            .././mvnw clean install
            cd ..

            cd spring-cloud-kubernetes-integration-tests/spring-cloud-kubernetes-fabric8-istio-it/
            ../.././mvnw clean install
            cd ../..
notify:
  webhooks:
    - url: https://webhooks.gitter.im/e/22e6bb4eb945dd61ba54
