name: sets environment variables
description: set branch_name as environment variable
runs:
  using: "composite"
  steps:
    - name: set env variables
      shell: bash
      run: |
        echo "BRANCH_NAME=$(echo $GITHUB_HEAD_REF)" >> $GITHUB_ENV
        echo "DOCKER_IMAGES_KEY=$(echo $GITHUB_RUN_ID)" >> $GITHUB_ENV
