name: sets environment variables
description: sets environment variables
runs:
  using: "composite"
  steps:
    - name: set env variables
      shell: bash
      run: |
        echo "test --> : $GITHUB_BASE_REF"
        echo "BRANCH_NAME=$(echo $GITHUB_HEAD_REF)" >> $GITHUB_ENV
        #echo "BRANCH_NAME=$(echo $GITHUB_HEAD_REF)" >> $GITHUB_ENV
        echo "DOCKER_IMAGES_KEY=$(echo $GITHUB_RUN_ID)" >> $GITHUB_ENV
